{% extends 'base.html.twig' %}

{% block title %}Modifier le Profil{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_profile_show') }}">Retour au Profil</a>

    {{ include('profile/_delete_form.html.twig') }}
{% endblock %}
