<h1>Bonjour/Bonsoir! S'il vous plait, confirmer votre adresss Email !</h1>

<p>
    S'il vous plait, confirmer votre adresss mail! en cliquant sur le lien si-dessous: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon Email</a>.
    Ce lien va exirer dans : {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement MonSite!
</p>
