{% extends 'baseAdmin.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

  {{ form_start(etatForm) }}

  <div class="row justify-content-center">
    <div class="col-6">
      {{ form_row(etatForm.nomEtat, {'label': 'Etat du jeu'}) }}
    </div>
  </div>

  <div class="col-12 d-flex justify-content-center">
    <a href="{{ path('etat_index') }}" class="btn btn-danger m-3">Annuler</a>
    <button class="btn btn-success m-3">Créer</button>
  </div>

  {{ form_end(etatForm) }}

{% endblock %}
