{% extends 'baseAdmin.html.twig' %}

{% block title %}États!{% endblock %}

{% block body %}
<h1 class="pb-5">Liste des maisons</h1>

<table class="table text-center table-hover table-sm">
    <thead>
        <tr>
            <th>N°</th>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        {% for etats in etat %}
            <tr>
              <td class="align-middle">{{ loop.index }}</td>
              <td class="align-middle">{{ etats.nomEtat }}</td>

            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="d-flex justify-content-end my-5">
    <a href="{{ path('etat_create') }}" class="btn btn-success">Ajouter un État</a>
</div>
{% endblock %}
