{% extends 'baseAdmin.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

  {{ form_start(regionForm) }}

  <div class="row justify-content-center">
    <div class="col-6">
      {{ form_row(regionForm.nomRegion, {'label': 'Nom de la région (Continant + Accronime)'}) }}
    </div>
  </div>

  <div class="col-12 d-flex justify-content-center">
    <a href="{{ path('region_index') }}" class="btn btn-danger m-3">Annuler</a>
    <button class="btn btn-success m-3">Créer</button>
  </div>

  {{ form_end(regionForm) }}

{% endblock %}
